<!--The content below is only a placeholder and can be replaced.-->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

<!-- <star></star> -->

<!-- <contact-form></contact-form> -->

<!-- <app-posts></app-posts> -->

<!-- <app-singlepost></app-singlepost> -->

<!-- <app-cars></app-cars> -->
<!-- <app-home></app-home> -->
<app-carnavbar></app-carnavbar>
<router-outlet></router-outlet> 
<app-foot></app-foot>
<!-- <app-login></app-login> -->
<!-- <p> The phonenumber is {{1234567890| phonetransform }}</p> -->
<!-- 
<div [ngClass] = "{myclass1 : true}">

  This is div with myclass 1
</div>
<br> -->
<!-- <div [ngClass] = "['myclass1','myclass2']">

    This is div with myclass 1
  </div>
  <br> -->

  <!-- <div [ngClass] = "{myclass1 : myvalue}">

      This is div with myclass 2
    </div> -->